commands:
  startup:
    command: |
#      change timezone to New York
      ln -sf /usr/share/zoneinfo/America/New_York /etc/localtime
      timedatectl set-timezone America/New_York
      echo "America/New_York" > /etc/timezone
      echo "[+] timezone change complete"
      sed -i '/server {/a \    client_max_body_size 999M;' /etc/nginx/nginx.conf
      nginx -s reload
      echo "[+] nginx change complete"
